@model MovieType

<h5>View Component Movie Type Details</h5>
<table>
    <tr>
        <th> Movie Type ID</th>
        <th> Movie Type Title</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
    </tr>
</table>