@model MovieViewModel





<div class="form-group">

    <br />

    <h1 style ="text-align: center;">Insert Movie</h1>

    <form asp-route = "Create" method = "post" id="form">


        <label for="Title" class="form-label mt-4">Title</label>

        <input asp-for="Title" type="text" class="form-control" id="Id" aria-describedby="Title" placeholder="Enter Title">

        <small id="Id" class="form-text text-muted">Movie Title should be a text</small>

        <br />

        <span asp-validation-for="Title" class="text-danger"></span>

        <br />


        <label for="Description" class="form-label mt-4">Description</label>

        <textarea asp-for="Description" type="text" class="form-control" id="Id" aria-describedby="Description" placeholder="Enter Description"> </textarea>
        
        <small id="Id" class="form-text text-muted">Type movie description</small>

        <br />

        <span asp-validation-for="Title" class="text-danger"></span>

        <br />

        <fieldset>

            Movie Type

            <select id="MovieTypeId" name="MovieTypeId" class="form-select">

                <option value="-1" selected>    </option>

                @foreach (var items in Model.Categories.Items)
                {

                      <option value="@items.Id">@items.Name</option>

                }

            </select>

            <br />

            <span asp-validation-for="MovieTypeId" class="text-danger"></span>

            <br />

        </fieldset>

         <br />

        <div class ="btn">

            <button id="subButton" type="submit" class="btn btn-info btn-lg" @*data-toggle="modal" data-target="#MyPopUp"*@>Insert to database</button>
            <button id="AjaxSubButton" type="button" class="btn btn-info btn-danger">Ajax Create</button>
        </div>

        <br />

        <div id="Status" class="text-dark" style="display: inline;">
            <small id="Id" class="form-text text-muted">Status code appears here</small>
        </div>
       
        <br />

        <h1 style="color:red;"> @ViewData["fail"] </h1>


        <div id="MyPopUp"  class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Warning</h5>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p>You are about to make changes in the database. Are you sure you want to continue?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
    
        </div>

    </form>

</div>

@section Scripts
{

    <script type="text/javascript">

        $(document).ready(function () {

            /*var submitButtonElement = document.getElementById('subButton');*/

            var ajaxSubmitButtonElement = document.getElementById('AjaxSubButton');

            /*submitButtonElement.addEventListener('click', function () {
                $('#MyPopUp').modal('show');
            });*/



            ajaxSubmitButtonElement.addEventListener('click', function () {
                $.ajax(
                    {
                        type: "POST",
                        url: "@Url.Action("Json_Create", "Movies")",
                        data: $('#form').serialize(),
                        dataType: "json",
                        success: function (textStatus, xhr) {
                            $("#Status").html("<h3>Database record was created succesfully through Ajax.</h3>");
                            console.log(xhr.status);
                        },

                        error: function (xhr, textStatus) {
                            $("#Status").html("Failed");
                            console.log(xhr.status);
                        }
                    });
            });



        });

    </script>

}
