@model MovieTypeViewModel

<div class="form-group">

    <br />

    <h1 style="text-align: center;">Insert Movie</h1>

    <form asp-route="Create_Category" method="post">


        <label for="Title" class="form-label mt-4">Title</label>

        <input asp-for="Name" type="text" class="form-control" id="Id" aria-describedby="Title" placeholder="Enter Name">

        <small id="Id" class="form-text text-muted">Movie Name should be a text</small>

        <br />


        <button id="subButton"  type="submit" class="btn btn-secondary btn-lg">Add to Database</button>

        <br />

        <h1 style="color:red;"> @ViewData["fail"] </h1>

    </form>

</div>
