@model Movie;


<table>
    <tr>
        <th> Movie ID</th>
        <th> Movie Title</th>
        <th> Movie Description</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Title</td>
        <td>@Model.Description</td>
    </tr>
        


    
</table>