<br/>
<br/>

@(Html.Kendo().Upload()
    .Name("file")
    .Async(a => a
        .Save("Upload_File","Movies")
        .AutoUpload(false)
                
    )
    .DropZone(".dropZoneElement")
    //.Events(events => events.Select("uploadForm"))
)


<div id="grid">

</div>


@section Scripts
{
    <script>
        $(function () {
            $("#uploadForm").submit(function (e) {
                e.preventDefault();
                var formData = new FormData();
                var totalFiles = document.getElementById("uploadForm").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("uploadForm").files[i];
                    formData.append("uploadForm", file);
                }
                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("Read_File","Movies")",
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (data) {
                        console.log("succcess");
                        $("#grid").html(hx-get = "CSVGrid");

                    },
                    error: function (err) {
                        console.log("failure");
                    }
                });
            });
        });
    </script>
}
