<br/>
<br/>

@(Html.Kendo().Upload()
    .Name("file")
    .Async(a => a
        .Save("Upload_File","Movies")
        .AutoUpload(false)
        
                
    )
    .Events(events => events.Upload("onUpload"))
    .DropZone(".dropZoneElement")
    .Multiple(false)
    .Validation(validation =>
    {
        validation.AllowedExtensions("csv");
        validation.MaxFileSize(3145728);

    })
    )


<div id="grid">

</div>

<br>

<br>

<div id="error">

</div>

@section Scripts
{
    <script>
        var trHTML = '';
        function onUpload(e) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("CSVGrid", "Movies")",
                dataType: "html",
                success: function (response) {
                    console.log("success");
                    $('#grid').html(response);
                },
                error: function (xhr, textStatus) {
                    console.log(xhr.status);
                }
            });

            $.ajax({
                type: "POST",
                url: "@Url.Action("Read_File", "Movies")",
                dataType: 'json',
                success: function (response,status,xhr) {
                    const first = response.split(' ')[0]
                    if (first == "Error:")
                    {
                        console.log(first);
                        trHTML += '<h5>' + response + '</h5>';
                        $('#error').html(trHTML);
                    }
                },

                error: function (xhr, textStatus) {

                    console.log(xhr.status, response);
                    trHTML += '<h5>' + response + '</h5>';
                    $('#error').html(trHTML);
                }
            });
        }
        
    </script>
}
