@model CSVModels;

<br/>
<br/>

<div id ="upload">
   <kendo-upload name="file"
   multiple="false"
   on-cancel="onCancel" 
   on-complete="onComplete" 
   on-error="onError" 
   on-progress="onProgress" 
   on-select="onSelect" 
   on-success="onSuccess" 
   on-upload="onUpload">

    <async auto-upload="false" 
    save-url="@Url.Action("Upload_File", "Kendo")" />

   </kendo-upload>

</div>

<div id="grids" style="display: none;">

    <kendo-grid name="grid" auto-bind="false"
    on-data-bound="onDataBound">
        <groupable enabled="true" />
        <sortable enabled="true" />
        <filterable enabled="true" />
        <pageable enabled="true" />

        <columns>
            <column field="NewsletterId" width="300" />
            <column field="CustomerId" width="300" />
            <column field="Username" />
            <column field="X1" width="300" />
        </columns>

        <datasource type="DataSourceTagHelperType.Ajax" >
            <transport >
                <read url="@Url.Action("Read_Database", "Kendo")" />
            </transport>
        </datasource>

    </kendo-grid>


</div>

<br>


<br>

<div id="log">
   
    
   
</div>

@section Scripts
{
    <script>
        var trHTML = '';
        const isUploadError = new Boolean(false);

        function onSelect(e) {
            console.log("Select :: " + getFileInfo(e));
            trHTML += "<br> Select :: " + getFileInfo(e);
            $('#log').html(trHTML);
        }

        function onUpload(e) {
            console.log("Upload :: " + getFileInfo(e));
            trHTML += "<br> Upload :: " + getFileInfo(e);
            $('#log').html(trHTML);
        }

        function onSuccess(e) {
            console.log("Success (" + e.operation + ") :: " + getFileInfo(e));
            trHTML += "<br> Success (" + e.operation + ") :: " + getFileInfo(e);
            $('#log').html(trHTML);

        }

        function onError(e) {
            var xhr = e.XMLHttpRequest;
            console.log("Error (" + e.operation + ") :: " + getFileInfo(e));
            trHTML += "<br> Error (" + e.operation + ") :: " + getFileInfo(e);
            if (xhr.status == 500)
            {
                trHTML += "<br> <h2>Error 500, SQL error, check for duplicate columns</h2>";
            }
            else if (xhr.status == 400)
            {
                trHTML += "<br> <h2>Error 400. Model validation failed, please check csv file headers or columns.</h2>";
            }
            else
            {
                trHTML += "< br > <h2>File upload error</h2>";
            }
            $('#log').html(trHTML);
            isUploadError = true;
        }

        function onComplete(e) {
            console.log("Complete");
            trHTML += "<br> Complete";
            $('#log').html(trHTML);

            document.getElementById("grids").style.display = "block";
            $('#grid').data('kendoGrid').dataSource.read();

        }

        function onCancel(e) {
            console.log("Cancel :: " + getFileInfo(e));
            trHTML = "<br> Cancel :: " + getFileInfo(e);
            $('#log').html(trHTML);
        }

   
        function onProgress(e) {
            console.log("<br>Upload progress :: " + e.percentComplete + "% :: " + getFileInfo(e));
            trHTML = "<br> Upload progress :: " + e.percentComplete + "% :: " + getFileInfo(e);
            $('#log').html(trHTML);
        }

        function getFileInfo(e) {
            return $.map(e.files, function (file) {
                var info = file.name;

                // File size is not available in all browsers
                if (file.size > 0) {
                    info += " (" + Math.ceil(file.size / 1024) + " KB)";
                }
                return info;
            }).join(", ");
        }

        function onDataBound(e) {
            var grid = $("#grid").data("kendoGrid");
            var dataSource = grid.dataSource;
            var totalRecords = dataSource.total();

            if (totalRecords == 0 && isUploadError == false)
            {
                
                $('#log').html(trHTML);
                document.getElementById("grids").style.display = "none";
            }
        }
        
    </script>
}
